.lamp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -700px;
  margin-right: -900px;
}
.shade {
  width: 30vh;
  height: 20vh;
  background: #eee4cf;
  z-index: 3;
  border-radius: 50% / 10%;
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
  background-image: radial-gradient(
      closest-corner at 50% 2%,
      #eee4cf 70%,
      transparent 78%
    ),
    linear-gradient(
      to right,
      transparent 48%,
      #ffffff66 58% 75%,
      transparent 88%
    ),
    linear-gradient(
      -253deg,
      #ffffffcc,
      #e5cb9a 15%,
      #dbb97c 20%,
      #eddbb7 36%,
      #ffffff33 54%,
      transparent 95%
    ),
    linear-gradient(253deg, #f8efdd 20%, transparent);
}
.leg {
  width: 2vh;
  height: 50vh;
  background: #995136;
  top: -2vh;
  z-index: 2;
  background-image: linear-gradient(
      #00000044,
      transparent 20% 99.8%,
      #00000033 100%
    ),
    linear-gradient(
      to right,
      transparent 15%,
      #00000055 36% 44%,
      #00000011 60%,
      #ffffff4f 78% 95%,
      #9b5539 95%
    );
}
.foot {
  width: 22vh;
  height: 5vh;
  background: #995136;
  top: -4vh;
  border-radius: 50%;
  box-shadow: 0 0.4vh #773321;

  background-image: linear-gradient(
      to right,
      transparent 11vh,
      transparent 12vh,
      transparent 13vh
    ),
    linear-gradient(
      40deg,
      transparent 5% 24%,
      #0000001f 28% 36%,
      #00000011 37% 44%,
      transparent 50%,
      #ffffff1c 56%,
      #ffffff44 68%,
      #ffffff1c 92%,
      transparent
    );
}
